*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box; 
    text-decoration: none;
}
/*navbar*/
.navbar{
    position: fixed;
    width: 100%;
    background: crimson;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
    color: whitesmoke;
    text-decoration: none;
}
.navbar .menu li a{
    color: white;

}